@using ReportViewerForMvc;

@{
    ViewBag.Title = "ActivityBookingTypeReportView";
}


<h2>Activity Booking Type Report</h2>

@Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)


