<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Angular\packages.config" />
  <repository path="..\src\Angular2\packages.config" />
  <repository path="..\src\ICM.Cloud.Storage\packages.config" />
  <repository path="..\src\ICM.Common.Test\packages.config" />
  <repository path="..\src\ICM.Data.Business\packages.config" />
  <repository path="..\src\ICM.Data\packages.config" />
  <repository path="..\src\ICM.Storage\packages.config" />
  <repository path="..\src\ICM.Web.API\packages.config" />
  <repository path="..\src\ICM.Web.Client\packages.config" />
  <repository path="..\src\ICM.Web.Test\packages.config" />
  <repository path="..\src\ICM.Web\packages.config" />
</repositories>