

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";

    AjaxOptions options = new AjaxOptions
    {
        UpdateTargetId = "searchResult",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "divLoading"
    };
}




<div class="panel panel-default">
    <br />
    @using (Ajax.BeginForm("SearchPeople", options))
    {
        <div class="col-lg-3">
            <input class="form-clientsearch" name="keyword" id="description" placeholder="Search..." />
        </div>
        <div class="col-lg-6">
            <button type="submit" class="btn btn-warning">Search</button>
        </div>
        <br />
        <br />
    }
    <br />
    <div id="searchResult">
        @Html.Action("SearchPeople", new { keyword = "" })
    </div>
</div>


